/* Reset Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
.heading {
    margin: 0;
    text-align: center;
    background: linear-gradient(to right, #ff6f61, #ff9642);
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

/* Container Styles */
#root {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Styles */
#form {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    text-align: center; /* Center text within the form */
}

#form input,
#form select,
#form button {
    display: block;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 93.2%; /* Set all input and select elements to 100% width */
}

#form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
}

#form button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#form button:hover {
    background-color: #ff9642;
}

/* Table Styles */
.table-container {
    overflow-x: auto;
    width: 100%; /* Set the table width to 100% */
}

table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Set the table width to 100% */
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #ff6f61;
    color: #fff;
}

/* Button Styles */
.btn {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff9642;
}

.employee-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px */
    #root {
        padding: 0 10px; /* Reduce padding on smaller screens */
    }

    #form input,
    #form select,
    #form button {
        margin: 10px auto; /* Center inputs and button */
    }

    /* Add overflow to the table container */
    .table-container {
        overflow-x: auto;
        width: 100%; /* Set the table width to auto for overflow */
    }

    table {
        width: auto; /* Set the table width to auto for overflow */
    }
}
